*.rpt
*.qsf
*.qarlog
*.qar
*.bak*
*.qsf
*.zip
*.qpf
hw4/quartus/simulation/data.txt
hw4/quartus/simulation/instructions.txt
hw4/quartus/simulation/registers.mem
hw4/quartus/simulation/modelsim/data.txt
hw4/quartus/simulation/modelsim/hw4_6_1200mv_0c_slow.vo
hw4/quartus/simulation/modelsim/hw4_6_1200mv_0c_v_slow.sdo
hw4/quartus/simulation/modelsim/hw4_6_1200mv_85c_slow.vo
hw4/quartus/simulation/modelsim/hw4_6_1200mv_85c_v_slow.sdo
hw4/quartus/simulation/modelsim/hw4_min_1200mv_0c_fast.vo
hw4/quartus/simulation/modelsim/hw4_min_1200mv_0c_v_fast.sdo
hw4/quartus/simulation/modelsim/hw4_modelsim.xrf
hw4/quartus/simulation/modelsim/hw4_v.sdo
hw4/quartus/simulation/modelsim/hw4.sft
hw4/quartus/simulation/modelsim/hw4.vo
hw4/quartus/simulation/modelsim/ins.txt
hw4/quartus/simulation/modelsim/inst.mem
hw4/quartus/simulation/modelsim/instructions.txt
hw4/quartus/simulation/modelsim/registers.mem
hw4/quartus/output_files/hw4.done
hw4/quartus/output_files/hw4.fit.smsg
hw4/quartus/output_files/hw4.fit.summary
hw4/quartus/output_files/hw4.jdi
hw4/quartus/output_files/hw4.map.summary
hw4/quartus/output_files/hw4.pin
hw4/quartus/output_files/hw4.pow.summary
hw4/quartus/output_files/hw4.sof
hw4/quartus/output_files/hw4.sta.summary
hw4/quartus/incremental_db/README
hw4/quartus/incremental_db/compiled_partitions/hw4.db_info
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.ammdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.cdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.dfp
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.hdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.kpt
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.logdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.rcfdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.cdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.dpi
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.cdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.hb_info
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.hdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.sig
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hdb
hw4/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.kpt
hw4/quartus/db/hw4.(0).cnf.cdb
hw4/quartus/db/hw4.(0).cnf.hdb
hw4/quartus/db/hw4.(1).cnf.cdb
hw4/quartus/db/hw4.(1).cnf.hdb
hw4/quartus/db/hw4.(2).cnf.cdb
hw4/quartus/db/hw4.(2).cnf.hdb
hw4/quartus/db/hw4.(3).cnf.cdb
hw4/quartus/db/hw4.(3).cnf.hdb
hw4/quartus/db/hw4.(4).cnf.cdb
hw4/quartus/db/hw4.(4).cnf.hdb
hw4/quartus/db/hw4.(5).cnf.cdb
hw4/quartus/db/hw4.(5).cnf.hdb
hw4/quartus/db/hw4.(6).cnf.cdb
hw4/quartus/db/hw4.(6).cnf.hdb
hw4/quartus/db/hw4.(7).cnf.cdb
hw4/quartus/db/hw4.(7).cnf.hdb
hw4/quartus/db/hw4.(8).cnf.cdb
hw4/quartus/db/hw4.(8).cnf.hdb
hw4/quartus/db/hw4.(9).cnf.cdb
hw4/quartus/db/hw4.(9).cnf.hdb
hw4/quartus/db/hw4.(10).cnf.cdb
hw4/quartus/db/hw4.(10).cnf.hdb
hw4/quartus/db/hw4.(11).cnf.cdb
hw4/quartus/db/hw4.(11).cnf.hdb
hw4/quartus/db/hw4.(12).cnf.cdb
hw4/quartus/db/hw4.(12).cnf.hdb
hw4/quartus/db/hw4.(13).cnf.cdb
hw4/quartus/db/hw4.(13).cnf.hdb
hw4/quartus/db/hw4.(14).cnf.cdb
hw4/quartus/db/hw4.(14).cnf.hdb
hw4/quartus/db/hw4.(15).cnf.cdb
hw4/quartus/db/hw4.(15).cnf.hdb
hw4/quartus/db/hw4.(16).cnf.cdb
hw4/quartus/db/hw4.(16).cnf.hdb
hw4/quartus/db/hw4.(17).cnf.cdb
hw4/quartus/db/hw4.(17).cnf.hdb
hw4/quartus/db/hw4.(18).cnf.cdb
hw4/quartus/db/hw4.(18).cnf.hdb
hw4/quartus/db/hw4.(19).cnf.cdb
hw4/quartus/db/hw4.(19).cnf.hdb
hw4/quartus/db/hw4.(20).cnf.cdb
hw4/quartus/db/hw4.(20).cnf.hdb
hw4/quartus/db/hw4.(21).cnf.cdb
hw4/quartus/db/hw4.(21).cnf.hdb
hw4/quartus/db/hw4.(22).cnf.cdb
hw4/quartus/db/hw4.(22).cnf.hdb
hw4/quartus/db/hw4.(23).cnf.cdb
hw4/quartus/db/hw4.(23).cnf.hdb
hw4/quartus/db/hw4.(24).cnf.cdb
hw4/quartus/db/hw4.(24).cnf.hdb
hw4/quartus/db/hw4.(25).cnf.cdb
hw4/quartus/db/hw4.(25).cnf.hdb
hw4/quartus/db/hw4.(26).cnf.cdb
hw4/quartus/db/hw4.(26).cnf.hdb
hw4/quartus/db/hw4.(27).cnf.cdb
hw4/quartus/db/hw4.(27).cnf.hdb
hw4/quartus/db/hw4.archive.qmsg
hw4/quartus/db/hw4.asm_labs.ddb
hw4/quartus/db/hw4.asm.qmsg
hw4/quartus/db/hw4.asm.rdb
hw4/quartus/db/hw4.cbx.xml
hw4/quartus/db/hw4.cmp_merge.kpt
hw4/quartus/db/hw4.cmp.bpm
hw4/quartus/db/hw4.cmp.cdb
hw4/quartus/db/hw4.cmp.hdb
hw4/quartus/db/hw4.cmp.idb
hw4/quartus/db/hw4.cmp.kpt
hw4/quartus/db/hw4.cmp.logdb
hw4/quartus/db/hw4.cmp.rdb
hw4/quartus/db/hw4.cuda_io_sim_cache.31um_ff_1200mv_0c_fast.hsd
hw4/quartus/db/hw4.cuda_io_sim_cache.31um_tt_1200mv_85c_nom.hsd
hw4/quartus/db/hw4.cuda_io_sim_cache.31um_tt_1200mv_85c_slow.hsd
hw4/quartus/db/hw4.db_info
hw4/quartus/db/hw4.drc.qmsg
hw4/quartus/db/hw4.eda.qmsg
hw4/quartus/db/hw4.fit.qmsg
hw4/quartus/db/hw4.hier_info
hw4/quartus/db/hw4.hif
hw4/quartus/db/hw4.ipinfo
hw4/quartus/db/hw4.lpc.html
hw4/quartus/db/hw4.lpc.rdb
hw4/quartus/db/hw4.lpc.txt
hw4/quartus/db/hw4.map_bb.cdb
hw4/quartus/db/hw4.map_bb.hdb
hw4/quartus/db/hw4.map_bb.logdb
hw4/quartus/db/hw4.map.ammdb
hw4/quartus/db/hw4.map.bpm
hw4/quartus/db/hw4.map.cdb
hw4/quartus/db/hw4.map.hdb
hw4/quartus/db/hw4.map.kpt
hw4/quartus/db/hw4.map.logdb
hw4/quartus/db/hw4.map.qmsg
hw4/quartus/db/hw4.map.rdb
hw4/quartus/db/hw4.pow.qmsg
hw4/quartus/db/hw4.pre_map.hdb
hw4/quartus/db/hw4.pti_db_list.ddb
hw4/quartus/db/hw4.qns
hw4/quartus/db/hw4.quiproj.841433.rdr.flock
hw4/quartus/db/hw4.root_partition.map.reg_db.cdb
hw4/quartus/db/hw4.routing.rdb
hw4/quartus/db/hw4.rpp.qmsg
hw4/quartus/db/hw4.rtlv_sg_swap.cdb
hw4/quartus/db/hw4.rtlv_sg.cdb
hw4/quartus/db/hw4.rtlv.hdb
hw4/quartus/db/hw4.sgate_sm.rvd
hw4/quartus/db/hw4.sgate.rvd
hw4/quartus/db/hw4.sgdiff.cdb
hw4/quartus/db/hw4.sgdiff.hdb
hw4/quartus/db/hw4.sld_design_entry_dsc.sci
hw4/quartus/db/hw4.sld_design_entry.sci
hw4/quartus/db/hw4.smart_action.txt
hw4/quartus/db/hw4.sta_cmp.6_slow_1200mv_85c.tdb
hw4/quartus/db/hw4.sta.qmsg
hw4/quartus/db/hw4.sta.rdb
hw4/quartus/db/hw4.syn_hier_info
hw4/quartus/db/hw4.tis_db_list.ddb
hw4/quartus/db/hw4.tiscmp.fast_1200mv_0c.ddb
hw4/quartus/db/hw4.tiscmp.slow_1200mv_0c.ddb
hw4/quartus/db/hw4.tiscmp.slow_1200mv_85c.ddb
hw4/quartus/db/hw4.tmw_info
hw4/quartus/db/hw4.vpr.ammdb
hw4/quartus/db/logic_util_heursitic.dat
hw4/quartus/db/prev_cmp_hw4.qmsg
hw4/DraftForHW4_restored/simulation/modelsim/data.txt
hw4/DraftForHW4_restored/simulation/modelsim/project03_6_1200mv_0c_slow.vo
hw4/DraftForHW4_restored/simulation/modelsim/project03_6_1200mv_0c_v_slow.sdo
hw4/DraftForHW4_restored/simulation/modelsim/project03_6_1200mv_85c_slow.vo
hw4/DraftForHW4_restored/simulation/modelsim/project03_6_1200mv_85c_v_slow.sdo
hw4/DraftForHW4_restored/simulation/modelsim/project03_min_1200mv_0c_fast.vo
hw4/DraftForHW4_restored/simulation/modelsim/project03_min_1200mv_0c_v_fast.sdo
hw4/DraftForHW4_restored/simulation/modelsim/project03_modelsim.xrf
hw4/DraftForHW4_restored/simulation/modelsim/project03_run_msim_rtl_verilog.do
hw4/DraftForHW4_restored/simulation/modelsim/project03_run_msim_rtl_verilog.do.bak
hw4/DraftForHW4_restored/simulation/modelsim/project03_run_msim_rtl_verilog.do.bak1
hw4/DraftForHW4_restored/simulation/modelsim/project03_run_msim_rtl_verilog.do.bak2
hw4/DraftForHW4_restored/simulation/modelsim/project03_v.sdo
hw4/DraftForHW4_restored/simulation/modelsim/project03.sft
hw4/DraftForHW4_restored/simulation/modelsim/project03.vo
hw4/DraftForHW4_restored/simulation/modelsim/registers.mem
hw4/DraftForHW4_restored/output_files/project03.done
hw4/DraftForHW4_restored/output_files/project03.fit.smsg
hw4/DraftForHW4_restored/output_files/project03.fit.summary
hw4/DraftForHW4_restored/output_files/project03.jdi
hw4/DraftForHW4_restored/output_files/project03.map.summary
hw4/DraftForHW4_restored/output_files/project03.pin
hw4/DraftForHW4_restored/output_files/project03.sof
hw4/DraftForHW4_restored/output_files/project03.sta.summary
hw4/DraftForHW4_restored/assignment_defaults.qdf
hw4/DraftForHW4_restored/MiniMIPS_testbench.v
hw4/DraftForHW4_restored/MiniMIPS_testbench.v.bak
hw4/DraftForHW4_restored/MiniMIPS.v
hw4/DraftForHW4_restored/mips_registers.v
hw4/DraftForHW4_restored/mips_registers.v.bak
hw4/DraftForHW4_restored/project02.qws
hw4/DraftForHW4_restored/project03.qpf
hw4/DraftForHW4_restored/project03.qws
hw4/DraftForHW4_restored/db/logic_util_heursitic.dat
hw4/DraftForHW4_restored/db/prev_cmp_project03.qmsg
hw4/DraftForHW4_restored/db/project02.db_info
hw4/DraftForHW4_restored/db/project03.(0).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(0).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(1).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(1).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(2).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(2).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(3).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(3).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(4).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(4).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(5).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(5).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(6).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(6).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(7).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(7).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(8).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(8).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(9).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(9).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(10).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(10).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(11).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(11).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(12).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(12).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(13).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(13).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(14).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(14).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(15).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(15).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(16).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(16).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(17).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(17).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(18).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(18).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(19).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(19).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(20).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(20).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(21).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(21).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(22).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(22).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(23).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(23).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(24).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(24).cnf.hdb
hw4/DraftForHW4_restored/db/project03.(25).cnf.cdb
hw4/DraftForHW4_restored/db/project03.(25).cnf.hdb
hw4/DraftForHW4_restored/db/project03.asm_labs.ddb
hw4/DraftForHW4_restored/db/project03.asm.qmsg
hw4/DraftForHW4_restored/db/project03.asm.rdb
hw4/DraftForHW4_restored/db/project03.cbx.xml
hw4/DraftForHW4_restored/db/project03.cmp_merge.kpt
hw4/DraftForHW4_restored/db/project03.cmp.bpm
hw4/DraftForHW4_restored/db/project03.cmp.cdb
hw4/DraftForHW4_restored/db/project03.cmp.hdb
hw4/DraftForHW4_restored/db/project03.cmp.idb
hw4/DraftForHW4_restored/db/project03.cmp.kpt
hw4/DraftForHW4_restored/db/project03.cmp.logdb
hw4/DraftForHW4_restored/db/project03.cmp.rdb
hw4/DraftForHW4_restored/db/project03.cuda_io_sim_cache.31um_ff_1200mv_0c_fast.hsd
hw4/DraftForHW4_restored/db/project03.cuda_io_sim_cache.31um_tt_1200mv_85c_slow.hsd
hw4/DraftForHW4_restored/db/project03.db_info
hw4/DraftForHW4_restored/db/project03.eda.qmsg
hw4/DraftForHW4_restored/db/project03.fit.qmsg
hw4/DraftForHW4_restored/db/project03.hier_info
hw4/DraftForHW4_restored/db/project03.hif
hw4/DraftForHW4_restored/db/project03.ipinfo
hw4/DraftForHW4_restored/db/project03.lpc.html
hw4/DraftForHW4_restored/db/project03.lpc.rdb
hw4/DraftForHW4_restored/db/project03.lpc.txt
hw4/DraftForHW4_restored/db/project03.map_bb.cdb
hw4/DraftForHW4_restored/db/project03.map_bb.hdb
hw4/DraftForHW4_restored/db/project03.map_bb.logdb
hw4/DraftForHW4_restored/db/project03.map.ammdb
hw4/DraftForHW4_restored/db/project03.map.bpm
hw4/DraftForHW4_restored/db/project03.map.cdb
hw4/DraftForHW4_restored/db/project03.map.hdb
hw4/DraftForHW4_restored/db/project03.map.kpt
hw4/DraftForHW4_restored/db/project03.map.logdb
hw4/DraftForHW4_restored/db/project03.map.qmsg
hw4/DraftForHW4_restored/db/project03.map.rdb
hw4/DraftForHW4_restored/db/project03.pre_map.hdb
hw4/DraftForHW4_restored/db/project03.pti_db_list.ddb
hw4/DraftForHW4_restored/db/project03.qns
hw4/DraftForHW4_restored/db/project03.restore.qmsg
hw4/DraftForHW4_restored/db/project03.root_partition.map.reg_db.cdb
hw4/DraftForHW4_restored/db/project03.routing.rdb
hw4/DraftForHW4_restored/db/project03.rtlv_sg_swap.cdb
hw4/DraftForHW4_restored/db/project03.rtlv_sg.cdb
hw4/DraftForHW4_restored/db/project03.rtlv.hdb
hw4/DraftForHW4_restored/db/project03.sgdiff.cdb
hw4/DraftForHW4_restored/db/project03.sgdiff.hdb
hw4/DraftForHW4_restored/db/project03.sld_design_entry_dsc.sci
hw4/DraftForHW4_restored/db/project03.sld_design_entry.sci
hw4/DraftForHW4_restored/db/project03.smart_action.txt
hw4/DraftForHW4_restored/db/project03.sta_cmp.6_slow_1200mv_85c.tdb
hw4/DraftForHW4_restored/db/project03.sta.qmsg
hw4/DraftForHW4_restored/db/project03.sta.rdb
hw4/DraftForHW4_restored/db/project03.syn_hier_info
hw4/DraftForHW4_restored/db/project03.tis_db_list.ddb
hw4/DraftForHW4_restored/db/project03.tiscmp.fast_1200mv_0c.ddb
hw4/DraftForHW4_restored/db/project03.tiscmp.slow_1200mv_0c.ddb
hw4/DraftForHW4_restored/db/project03.tiscmp.slow_1200mv_85c.ddb
hw4/DraftForHW4_restored/db/project03.tmw_info
hw4/DraftForHW4_restored/db/project03.vpr.ammdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project02.db_info
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.db_info
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.ammdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.cdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.dfp
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.hdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.kpt
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.logdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.cmp.rcfdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.cdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.dpi
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.hbdb.cdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.hbdb.hb_info
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.hbdb.hdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.hbdb.sig
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.hdb
hw4/DraftForHW4_restored/incremental_db/compiled_partitions/project03.root_partition.map.kpt
hw3/quartus/db/hw4.(0).cnf.cdb
hw3/quartus/db/hw4.(0).cnf.hdb
hw3/quartus/db/hw4.(1).cnf.cdb
hw3/quartus/db/hw4.(1).cnf.hdb
hw3/quartus/db/hw4.(2).cnf.cdb
hw3/quartus/db/hw4.(2).cnf.hdb
hw3/quartus/db/hw4.(3).cnf.cdb
hw3/quartus/db/hw4.(3).cnf.hdb
hw3/quartus/db/hw4.(4).cnf.cdb
hw3/quartus/db/hw4.(4).cnf.hdb
hw3/quartus/db/hw4.(5).cnf.cdb
hw3/quartus/db/hw4.(5).cnf.hdb
hw3/quartus/db/hw4.(6).cnf.cdb
hw3/quartus/db/hw4.(6).cnf.hdb
hw3/quartus/db/hw4.(7).cnf.cdb
hw3/quartus/db/hw4.(7).cnf.hdb
hw3/quartus/db/hw4.(8).cnf.cdb
hw3/quartus/db/hw4.(8).cnf.hdb
hw3/quartus/db/hw4.(9).cnf.cdb
hw3/quartus/db/hw4.(9).cnf.hdb
hw3/quartus/db/hw4.(10).cnf.cdb
hw3/quartus/db/hw4.(10).cnf.hdb
hw3/quartus/db/hw4.(11).cnf.cdb
hw3/quartus/db/hw4.(11).cnf.hdb
hw3/quartus/db/hw4.(12).cnf.cdb
hw3/quartus/db/hw4.(12).cnf.hdb
hw3/quartus/db/hw4.(13).cnf.cdb
hw3/quartus/db/hw4.(13).cnf.hdb
hw3/quartus/db/hw4.(14).cnf.cdb
hw3/quartus/db/hw4.(14).cnf.hdb
hw3/quartus/db/hw4.(15).cnf.cdb
hw3/quartus/db/hw4.(15).cnf.hdb
hw3/quartus/db/hw4.(16).cnf.cdb
hw3/quartus/db/hw4.(16).cnf.hdb
hw3/quartus/db/hw4.(17).cnf.cdb
hw3/quartus/db/hw4.(17).cnf.hdb
hw3/quartus/db/hw4.(18).cnf.cdb
hw3/quartus/db/hw4.(18).cnf.hdb
hw3/quartus/db/hw4.(19).cnf.cdb
hw3/quartus/db/hw4.(19).cnf.hdb
hw3/quartus/db/hw4.(20).cnf.cdb
hw3/quartus/db/hw4.(20).cnf.hdb
hw3/quartus/db/hw4.(21).cnf.cdb
hw3/quartus/db/hw4.(21).cnf.hdb
hw3/quartus/db/hw4.(22).cnf.cdb
hw3/quartus/db/hw4.(22).cnf.hdb
hw3/quartus/db/hw4.(23).cnf.cdb
hw3/quartus/db/hw4.(23).cnf.hdb
hw3/quartus/db/hw4.(24).cnf.cdb
hw3/quartus/db/hw4.(24).cnf.hdb
hw3/quartus/db/hw4.(25).cnf.cdb
hw3/quartus/db/hw4.(25).cnf.hdb
hw3/quartus/db/hw4.(26).cnf.cdb
hw3/quartus/db/hw4.(26).cnf.hdb
hw3/quartus/db/hw4.(27).cnf.cdb
hw3/quartus/db/hw4.(27).cnf.hdb
hw3/quartus/db/hw4.(28).cnf.cdb
hw3/quartus/db/hw4.(28).cnf.hdb
hw3/quartus/db/hw4.(29).cnf.cdb
hw3/quartus/db/hw4.(29).cnf.hdb
hw3/quartus/db/hw4.(30).cnf.cdb
hw3/quartus/db/hw4.(30).cnf.hdb
hw3/quartus/db/hw4.(31).cnf.cdb
hw3/quartus/db/hw4.(31).cnf.hdb
hw3/quartus/db/hw4.(32).cnf.cdb
hw3/quartus/db/hw4.(32).cnf.hdb
hw3/quartus/db/hw4.(33).cnf.cdb
hw3/quartus/db/hw4.(33).cnf.hdb
hw3/quartus/db/hw4.(34).cnf.cdb
hw3/quartus/db/hw4.(34).cnf.hdb
hw3/quartus/db/hw4.(35).cnf.cdb
hw3/quartus/db/hw4.(35).cnf.hdb
hw3/quartus/db/hw4.archive.qmsg
hw3/quartus/db/hw4.asm.qmsg
hw3/quartus/db/hw4.asm.rdb
hw3/quartus/db/hw4.cbx.xml
hw3/quartus/db/hw4.cmp_merge.kpt
hw3/quartus/db/hw4.cmp.idb
hw3/quartus/db/hw4.cmp.kpt
hw3/quartus/db/hw4.cmp.rdb
hw3/quartus/db/hw4.cuda_io_sim_cache.31um_ff_1200mv_0c_fast.hsd
hw3/quartus/db/hw4.cuda_io_sim_cache.31um_tt_1200mv_85c_slow.hsd
hw3/quartus/db/hw4.db_info
hw3/quartus/db/hw4.eco.cdb
hw3/quartus/db/hw4.eda.qmsg
hw3/quartus/db/hw4.fit.qmsg
hw3/quartus/db/hw4.hier_info
hw3/quartus/db/hw4.hif
hw3/quartus/db/hw4.ipinfo
hw3/quartus/db/hw4.lpc.html
hw3/quartus/db/hw4.lpc.rdb
hw3/quartus/db/hw4.lpc.txt
hw3/quartus/db/hw4.map_bb.cdb
hw3/quartus/db/hw4.map_bb.hdb
hw3/quartus/db/hw4.map_bb.logdb
hw3/quartus/db/hw4.map.ammdb
hw3/quartus/db/hw4.map.bpm
hw3/quartus/db/hw4.map.cdb
hw3/quartus/db/hw4.map.hdb
hw3/quartus/db/hw4.map.kpt
hw3/quartus/db/hw4.map.logdb
hw3/quartus/db/hw4.map.qmsg
hw3/quartus/db/hw4.map.rdb
hw3/quartus/db/hw4.pre_map.hdb
hw3/quartus/db/hw4.pti_db_list.ddb
hw3/quartus/db/hw4.qns
hw3/quartus/db/hw4.root_partition.map.reg_db.cdb
hw3/quartus/db/hw4.routing.rdb
hw3/quartus/db/hw4.rtlv_sg_swap.cdb
hw3/quartus/db/hw4.rtlv_sg.cdb
hw3/quartus/db/hw4.rtlv.hdb
hw3/quartus/db/hw4.sgdiff.cdb
hw3/quartus/db/hw4.sgdiff.hdb
hw3/quartus/db/hw4.sld_design_entry_dsc.sci
hw3/quartus/db/hw4.sld_design_entry.sci
hw3/quartus/db/hw4.smart_action.txt
hw3/quartus/db/hw4.sta.qmsg
hw3/quartus/db/hw4.sta.rdb
hw3/quartus/db/hw4.syn_hier_info
hw3/quartus/db/hw4.tis_db_list.ddb
hw3/quartus/db/hw4.tiscmp.fast_1200mv_0c.ddb
hw3/quartus/db/hw4.tiscmp.slow_1200mv_0c.ddb
hw3/quartus/db/hw4.tiscmp.slow_1200mv_85c.ddb
hw3/quartus/db/hw4.tmw_info
hw3/quartus/db/hw4.vpr.ammdb
hw3/quartus/db/logic_util_heursitic.dat
hw3/quartus/db/prev_cmp_hw4.qmsg
hw3/quartus/incremental_db/README
hw3/quartus/incremental_db/compiled_partitions/hw4.db_info
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.ammdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.cdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.dfp
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.hdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.kpt
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.logdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.cmp.rcfdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.cdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.dpi
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.cdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.hb_info
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.hdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hbdb.sig
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.hdb
hw3/quartus/incremental_db/compiled_partitions/hw4.root_partition.map.kpt
hw3/hw4_restored/incremental_db/compiled_partitions/hw4.db_info
hw3/hw4_restored/db/hw4.cmp.rdb
hw3/hw4_restored/db/hw4.db_info
hw3/hw4_restored/db/hw4.restore.qmsg
hw3/hw4_restored/adder_32.v
hw3/hw4_restored/adder_testbench.v
hw3/hw4_restored/alu_testbench.v
hw3/hw4_restored/alu.v
hw3/hw4_restored/and_testbench.v
hw3/hw4_restored/and.v
hw3/hw4_restored/assignment_defaults.qdf
hw3/hw4_restored/comparator.v
hw3/hw4_restored/datapath.v
hw3/hw4_restored/hw4_assignment_defaults.qdf
hw3/hw4_restored/hw4.qpf
hw3/hw4_restored/mult_testbench.v
hw3/hw4_restored/mux.v
hw3/hw4_restored/nor_testbench.v
hw3/hw4_restored/nor.v
hw3/hw4_restored/not.v
hw3/hw4_restored/or_testbench.v
hw3/hw4_restored/or.v
hw3/hw4_restored/slt_testbench.v
hw3/hw4_restored/slt.v
hw3/hw4_restored/xor_32.v
hw3/hw4_restored/xor_testbench.v
hw3/codes/adder_32.v
hw3/codes/adder_testbench.v
hw3/codes/alu_testbench.v
hw3/codes/alu.v
hw3/codes/and_testbench.v
hw3/codes/and.v
hw3/codes/comparator.v
hw3/codes/control.v
hw3/codes/datapath.v
hw3/codes/hw4.qpf
hw3/codes/mult_testbench.v
hw3/codes/mux.v
hw3/codes/nor_testbench.v
hw3/codes/nor.v
hw3/codes/not.v
hw3/codes/or_testbench.v
hw3/codes/or.v
hw3/codes/slt_testbench.v
hw3/codes/slt.v
hw3/codes/xor_32.v
hw3/codes/xor_testbench.v
hw3/codes/xor.v
hw3/quartus/output_files/hw4.done
hw3/quartus/output_files/hw4.fit.smsg
hw3/quartus/output_files/hw4.fit.summary
hw3/quartus/output_files/hw4.jdi
hw3/quartus/output_files/hw4.map.summary
hw3/quartus/output_files/hw4.pin
hw3/quartus/output_files/hw4.sof
hw3/quartus/output_files/hw4.sta.summary
hw3/quartus/simulation/modelsim/hw4_6_1200mv_0c_slow.vo
hw3/quartus/simulation/modelsim/hw4_6_1200mv_0c_v_slow.sdo
hw3/quartus/simulation/modelsim/hw4_6_1200mv_85c_slow.vo
hw3/quartus/simulation/modelsim/hw4_6_1200mv_85c_v_slow.sdo
hw3/quartus/simulation/modelsim/hw4_min_1200mv_0c_fast.vo
hw3/quartus/simulation/modelsim/hw4_min_1200mv_0c_v_fast.sdo
hw3/quartus/simulation/modelsim/hw4_modelsim.xrf
hw3/quartus/simulation/modelsim/hw4_run_msim_rtl_verilog.do
hw3/quartus/simulation/modelsim/hw4_v.sdo
hw3/quartus/simulation/modelsim/hw4.sft
hw3/quartus/simulation/modelsim/hw4.vo
hw3/quartus/hw4.qws
